Read data file Netflix_top_10.csv in pandas dataframe and answer the following
questions.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/Netflix_top_10.csv")

1. Find out the number of rows and columns using the shape attribute.

In [3]:
df.shape

(400, 6)

2. Check the first eight rows using the head method.

In [4]:
df.head(8)

,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,2021-11-14,Films (English),1,Red Notice,NaN,1
1,2021-11-14,Films (English),2,Meenakshi Sundareshwar,NaN,2
2,2021-11-14,Films (English),3,Doctor (Tamil),NaN,2
3,2021-11-14,Films (English),4,Love Hard,NaN,2
4,2021-11-14,Films (English),5,Doctor (Telugu),NaN,2
5,2021-11-14,Films (English),6,Army of Thieves,NaN,3
6,2021-11-14,Films (English),7,Maha Samudram,NaN,1
7,2021-11-14,Films (English),8,Monster Hunter,NaN,1

3. Use the describe method on this dataframe.

In [5]:
df.describe()

       weekly_rank  cumulative_weeks_in_top_10
count   400.000000                  400.000000
mean      5.500000                    3.305000
std       2.875878                    3.305949
min       1.000000                    1.000000
25%       3.000000                    1.000000
50%       5.500000                    2.000000
75%       8.000000                    4.000000
max      10.000000                   20.000000

4. In which months was the show “Friends” in the top 10?

In [6]:
week = df[(df.show_title == "Friends") & (df.weekly_rank <= 10)].week

In [7]:
weeks = list(week)

In [8]:
for i in weeks:
    print(i[5:7])

07
07
07
07
07

5. Which TV show was in the top 10 for a long time?

In [9]:
tv = df[df.category == "TV (English)"]

In [10]:
tv.sort_values("cumulative_weeks_in_top_10", ascending = False).show_title.head(1)

16    Money Heist
Name: show_title, dtype: object

6. Which movie was in the top 10 for a long time?

In [11]:
movies = df[df.category == "Films (English)"]

In [12]:
movies.sort_values("cumulative_weeks_in_top_10", ascending = False).show_title.head(1)

47    Haseen Dillruba
Name: show_title, dtype: object

7. Which movie was at number 1 position for the month of July?

In [13]:
booleans = []
for i in df.week:
    if i[6] == "7":
        booleans.append(True)
    else:
        booleans.append(False)

In [14]:
df[(df.category == "Films (English)") & (df.weekly_rank == 1) & (booleans)].show_title.sort_values(ascending = False).head(1)

320    Haseen Dillruba
Name: show_title, dtype: object